{% extends "base.html" %}
{% load compress staticfiles %}

{% block title %}Dashboard - healthchecks.io{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#crontab" data-toggle="tab">
                    {% if request.team == request.user.profile %}
                    {{ reports_allowed.title }} Reports
                    {% else %}
                        {{ request.team.team_name }}
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="#bash" data-toggle="tab">Failed Jobs</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="crontab">
                {% include "front/reports.html" %}
            </div>
            <div role="tabpanel" class="tab-pane" id="bash">
                {% include "front/failed_jobs.html" %}
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}